<!-- As a link -->
<nav class="navbar navbar-light" style="background-color: #ff0000">
  <div class="container-fluid">
    <span
      class="navbar-text"
      style="color: #ffffff; margin-left: 40%; margin-right: 40%"
    >
      State & District Maintenance
    </span>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">States</div>
    <div class="col">
      <div class="row">
        <select class="form-select" aria-label="Default select example">
          <option *ngFor="let item of stateValues">{{ item.stateName }}</option>
        </select>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="addState()">
            Add New State
          </button>
        </div>
      </div>
      <div class="row" *ngIf="div1">
        <div class="col">
          <div class="row">
            <div class="col">
              <form [formGroup]="stateForm">
                <input type="text" formControlName="stateName" />
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <mat-icon
                ><button
                  (click)="states()"
                  class="btn"
                  [disabled]="!stateForm.valid"
                >
                  check_circle_outline
                </button></mat-icon
              >
            </div>
            <div class="col">
              <mat-icon
                ><button (click)="cancelState()" class="btn">
                  cancel
                </button></mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">District</div>
    <div class="col">
      <div class="row">
        <select class="form-select" aria-label="Default select example">
          <option *ngFor="let item of districtValues">
            {{ item.districtName }}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="addDistrict()">
            Add New District
          </button>
        </div>
      </div>
      <div class="row" *ngIf="div2">
        <div class="col">
          <div class="row">
            <div class="col">
              <form [formGroup]="districtForm">
                <input type="text" formControlName="districtName" />
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <mat-icon
                ><button
                  (click)="districts()"
                  class="btn"
                  [disabled]="!districtForm.valid"
                >
                  check_circle_outline
                </button></mat-icon
              >
            </div>
            <div class="col">
              <mat-icon
                ><button (click)="cancelDistrict()" class="btn">
                  cancel
                </button></mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
